<html>
<head>
    <title>Select City</title>
</head>
<body>
    <form method="post">
        City: 
        <select name="city">
            <option value="vizag" name="vizag">Vizag</option>
            <option selected value="hyderabad" name="hyderabad">Hyderabad</option>
            <option value="banglore" name="bangalore">Bangalore</option>
        </select>
        <p></p>
        <button>Submit</button>
    </form>
</body>
</html>